body {
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background-color: #2948ff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* clock */
  
  .clock {
    width: 300px;
    height: 300px;
    background-color: #73ff00;
    border-radius: 50%;
    border: 8px solid #000;
    box-shadow: 2px 2px 8px 2px rgba(22, 45, 75, 0.92);
    background-image: url('../img/clock.png');
    background-size: cover;
    position: relative;
  }
  
  /* clock style ends */
  
  /* round center */
  
  .clock::before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }
  
  /* round center style ends */
  
  /* common style for every hand */
  
  .hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    transform-origin: bottom;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  
  /* common style ends */
  
  /* hour hand */
  
  .hour {
    width: 8px;
    height: 28%;
    background-color: #000;
  }
  
  /* hour hand style ends */
  /* minute hand style */
  
  .minute {
    width: 5px;
    height: 38%;
    background-color: #000;
  }
  
  /* minute hand style ends */
  /* second hand style */
  
  .second {
    width: 3px;
    height: 40%;
    background-color: #ff0000;
  }
  
  /* second hand style ends */