* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "open Sans", sans-serif;
}

body {
  transition: 0.8s;
}

.grid-container {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto auto;
  gap: 1px;
  background-color: #044981;
  padding: 2px;
  margin-bottom: 1px;
}

input[type="text"] {
  background-color: rgba(255, 255, 255, 0.959);
  word-wrap: break-word;
  word-break: break-all;
}

input[type="button"]:hover {
  background-color: rgb(37, 35, 59);
  color: #fff;
}

.clear {
  background-color: rgb(255, 42, 42);
  color: #fff;
  font-size: 5vh;
  outline: none;
}

.item6 {
  grid-column: 1 / span 2;
  grid-row: 7;
  font-size: 3vh;
}
.item7 {
  grid-column: 3 / span 2;
  grid-row: 7;
  word-wrap: break-word;
  font-size: 8vh;
}

.result {
  font-size: 8vh;
  width: 100%;
  height: 31vh !important;
  grid-column: 1 / span 4;
  grid-row: 1;
}

.input-button {
  font-size: 4vh;
  color: rgb(17, 16, 16);
  cursor: pointer;
  border: none;
  height: 10.2vh;
  outline: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.logo {
  width: 54px;  
}

.footer {
  text-align: center;
  background-color: gainsboro;
}
.footer a {
  color:rgb(112, 110, 110);
  text-decoration: none;
  font-size: 3.8vh;
}

.footer p {
  color:rgb(112, 110, 110);
  text-decoration: none;
  font-size: 3.8vh;
}