<?xml version='1.0' encoding='utf-8'?>
<widget id="com.instilllearning.ex01" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ILCalculator</name>
    <description>Calculator App using Apache Cordova</description>
    <author email="gaurab@instilllearning.com" href="https://instilllearning.com">
        Instill Learning Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
